<div class="fondo-modal-imagen animated fadeIn fast" [class.oculto]="modalImagenService.ocultarModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    style="display: block; padding-right: 15px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
              (click)="cerrarModal()">×</span></button>
        </div>
        <div class="modal-body">
          <h3>Seleccione una imagen</h3>

          <div class="text-center">
            <img *ngIf="!imgTemp" [src]="modalImagenService.img" class="img-avatar">
            <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
          </div>


          <input type="file" (change)="cambiarImagen($event)">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="subirImagen()">Actualizar foto</button>
        </div>
      </div>
    </div>
  </div>
</div>