.fast {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#themecolors .selector, .cursor{
  cursor: pointer;
}

.img-avatar{
  width: 30%;
  height: 30%;
}

.w75{
  width: 75px;
}

.w100{
  width: 100px;
}

.w140{
  width: 140px;
}

.w200{
  width: 200px;
}

.avatar{
  border-radius: 100%;
  width: 30px;
}

.fondo-modal-imagen{
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.oculto{
  display: none;
}